<header>
  <mat-toolbar color="primary">
    <h1 class="container-md">
      Busca dinâmica
    </h1>
  </mat-toolbar>
</header>

<main class="container-sm">
  <section>
    <h2>
      Por cor:
    </h2>

    <mat-checkbox>
      Branco
    </mat-checkbox>

    <mat-checkbox>
      Negro
    </mat-checkbox>

    <mat-checkbox>
      Pardo
    </mat-checkbox>

    <mat-checkbox>
      Amarelo
    </mat-checkbox>
  </section>

  <section>
    <h2>
      Por faixa etária:
    </h2>

    <mat-checkbox>
      Bebê
    </mat-checkbox>

    <mat-checkbox>
      Criança
    </mat-checkbox>

    <mat-checkbox>
      Jovem
    </mat-checkbox>

    <mat-checkbox>
      Adulto
    </mat-checkbox>

    <mat-checkbox>
      Idoso
    </mat-checkbox>
  </section>

  <section>
    <h2>
      Por sexo:

    </h2>
    <mat-checkbox>
      Masculino
    </mat-checkbox>

    <mat-checkbox>
      Feminino
    </mat-checkbox>
  </section>

  <section>
    <h2>
      Por classe social:
    </h2>

    <mat-checkbox>
      Pobre
    </mat-checkbox>

    <mat-checkbox>
      Classe-média
    </mat-checkbox>

    <mat-checkbox>
      Rico
    </mat-checkbox>
  </section>

  <section>
    <h2>
      Por religião:
    </h2>

    <mat-checkbox>
      Cristão
    </mat-checkbox>

    <mat-checkbox>
      Hindus
    </mat-checkbox>

    <mat-checkbox>
      Budistas
    </mat-checkbox>

    <mat-checkbox>
      Judeus
    </mat-checkbox>
  </section>

  <section>
    <h2>
      Por posição política:
    </h2>

    <mat-checkbox>
      Direita
    </mat-checkbox>

    <mat-checkbox>
      Esquerda
    </mat-checkbox>
  </section>

  <button mat-flat-button color="primary" type="submit">Buscar</button>
  <button mat-flat-button type="reset">Limpar</button>

</main>

<footer>

</footer>